<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>AI data recovery</title>
</head>

<body>
	<h1>Data jamming & recovery with AI</h1>

	<form name="passdata", action="{{url_for('_get_data')}}", method="post">
		<div class="container">
			<p>Please specify your message in english with a maximum length of 41 characters.</p>

			<label for="message"><b>Message</b></label>
			<input type="text" placeholder="Enter Message" name="message" id="message" required maxlength="41">
			<br><br>

			<button type="submit" class="submitBtn">Submit</button>
			<br><br>
		</div>
	</form>

	<!-- Start Invisible Things -->
	
	{% if message %}
		<p> You submited the text <b>"{{message}}"</b>.</p>
		<p>	We encrypted this message with the key <b>"pfa2020"</b>.</p>
		<p>	The encrypted text is <b>"{{result}}"</b>.</p>
		<p>	Now we will use our AI to try and recover the original message from this encrypted result.</p>
		<p>	Let's feed <b>"{{result}}"</b> to the AI.</p>
		<p>
			The AI predicts that <b>"{{result}}</b>" refers to the plaintext <b>"{{prediction}}"</b>
			 (accurracy = <b>{{accuracy}}%)</b>.
		</p>
	{% endif %}

	<!-- End Invisible Things -->

</body>
</html>